<!doctype html>
<html lang="es">
   <head>
      <%- include('templates/head1') %>


         <title> Index testing </title>
   </head>
   <body class="bg-dark">
      <style>
         body{max-width: 1200px;}
      </style>

      <div class="container-fluid">
         <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-1">
               <div class="container txwhite p-3 my-2">
                  <div class="list-group">

                           <div id="divop1" class="list-group-item list-group-item-action px-4">
                           <div class="d-flex w-100 justify-content-between pb-3"><h5 class="mb-1" id="ask1" name="ask1"><%= preguntas[5].question %>  </h5></div>
                           <ul class="input-group-prepend list-group p-1">
                        <li><input type="radio" class="d-inline-flex" name="answ1" value="Opcion A random A"><h6 class="ml-2 mb-0">   </h6></li>
                        <li><input type="radio" class="d-inline-flex" name="answ1" value="Opcion A random B"><h6 class="ml-2 mb-0">Opcion A random B</h6></li>
                        <li><input type="radio" class="d-inline-flex" name="answ1" value="Opcion A random C"><h6 class="ml-2 mb-0">Opcion A random C</h6></li>
                           </ul>
                           </div>
               <div id="divop2" class="list-group-item list-group-item-action px-4">
                  <div class="d-flex w-100 justify-content-between pb-3"><h5 class="mb-1" id="ask2" name="ask2"><%= preguntas[idrd].question %></h5></div>
                  <ul class="input-group-prepend list-group p-1">
                  <li><input type="radio" class="d-inline-flex" name="answ2" value="Opcion B random A"><h6 class="ml-2 mb-0">Opcion B random A</h6></li>
                  <li><input type="radio" class="d-inline-flex" name="answ2" value="Opcion B random B"><h6 class="ml-2 mb-0">Opcion B random B</h6></li>
                  <li><input type="radio" class="d-inline-flex" name="answ2" value="Opcion B random C"><h6 class="ml-2 mb-0">Opcion B random C</h6></li>
                  </ul>
               </div>
               <div id="divop3" class="list-group-item list-group-item-action px-4">
                  <div class="d-flex w-100 justify-content-between pb-3"><h5 class="mb-1" name="ask3">Pregunta C </h5></div>
                     <ul class="input-group-prepend list-group p-1">
                        <li><input type="radio" class="d-inline-flex" name="answ3" value="Opcion C random A"><h6 class="ml-2 mb-0">Opcione C random A</h6></li>
                        <li><input type="radio" class="d-inline-flex" name="answ3" value="Opcion C random B"><h6 class="ml-2 mb-0">Opcione C random B</h6></li>
                        <li><input type="radio" class="d-inline-flex" name="answ3" value="Opcion C random C"><h6 class="ml-2 mb-0">Opcione C random C</h6></li>
                     </ul>
               </div>
                  </div>
            <div class="col-1"></div>
         </div>
      </div>   
   </body>
   <script>

   $(document).ready( async function () { 
      
      $('.list-group-item').on('click',function(){
         $('#divop1').removeClass('active');$('#divop2').removeClass('active');$('#divop3').removeClass('active');
         $(this).addClass('active');
      });
      
      const maxid = 6;

      for(it =0;0<1;it++){
         const idra= Math.floor(Math.random() * maxid+1);
         const idrb= Math.floor(Math.random() * maxid+1);
         const idrc= Math.floor(Math.random() * maxid+1);
         while (idra ==idrb) {const idrb= Math.floor(Math.random() * maxid+1);}
         while (idrc == idra || idrc == idrb){const idrc= Math.floor(Math.random() * maxid+1);}
      };

      const idrd =5;  /* desconozco pero en el testeo no se define la constante   */
      console.log(idrd);
   });
   </script>
</html>


                     <!-- <label for="buscador" class="col-sm-2 col-form-label text-light mr-3">Search</label> -->